<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Produto - DevIO.App</title>


  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>
  <app-menu></app-menu>
  
  <div class="container" style="min-height: 800px">
    <main role="main" class="pb-3">

      <router-outlet></router-outlet>

    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      © 2019 - Minha App MVC - <a href="mailto:contato@meudomain.com">contato@meudomain.com</a> - <a
        href="mailto:suporte@desenvolvedor.io">suporte@desenvolvedor.io</a>
    </div>
  </footer>

</body>

</html>